NODE_ENV=development
PORT=5000
DATABASE_URL=mongodb+srv://arvionadmin:4cfTuV0TQTk7ebWj@cluster0.nfzb9rp.mongodb.net/arvion-mart?retryWrites=true&w=majority&appName=Cluster0
REDIS_URL=rediss://default:ARPaAAImcDI1YzU4YmRiNGI4YjE0OGQwYWNiODc1MTMyZGRlNGE0N3AyNTA4Mg@lenient-giraffe-5082.upstash.io:6379

# redis://:123456789@localhost:6379
SALT_ROUNDS=10

# cloudinary
CLOUD_NAME=dnom0fr0x
CLOUD_API_KEY=373621486356851
CLOUD_API_SECRET=R6PqFtHZc_OI2nXOQL9rmw_LMdo

# jwt 
JWT_ACCESS_SECRET=71f846d1ede9e3bcf28b6d1cefb9d4fbac606f2ebfc532e1c707da231fcdcc5f0fdd816977e41a855f13c1f567b9d84ea0d5a8fb64d85b289fbb367
573f8f52b
JWT_REFRESH_SECRET=7d32b5c156ec753459cfd4b8354e5a98258cc356c65f860f443215f082ff014cd2e881178e78659e32d9ebc5f2bf844930c87063c283cf74a0977d8
f0dcf0b86
JWT_ACCESS_EXPIREIN=1d
JWT_REFRESH_EXPIREIN=7d

SUPER_ADMIN_EMAIL=arviontech@gmail.com
SUPER_ADMIN_PASSWORD=superAdmin123
SUPER_ADMIN_CONTACT_NUMBER=01799370138

STORE_ID=atctechltd0live
STORE_PASS=6693A17B2449F52469
SUCCESS_URL=http://localhost:3000/payment
CANCEL_URL=http://localhost:3000/payment?status=cancel
FAILED_URL=http://localhost:3000/payment?status=fail
SSL_PAYMENT_API= https://securepay.sslcommerz.com/gwprocess/v4/api.php
SSL_VALIDATION_API=https://securepay.sslcommerz.com/validator/api/validationserverAPI.php

LOG_DIRECTORY=LOG_FILES

